<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="microservice.dao.DeptDao">

    <resultMap type="microservice.entities.Dept" id="deptResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="location" property="location"/>
        <result column="organization_id" property="organizationId"/>
        <result column="db_source" property="dbSource"/>
    </resultMap>

    <resultMap type="microservice.entities.DeptWithOrg" id="deptOrgResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="location" property="location"/>
        <result column="organization_name" property="organization"/>
    </resultMap>


    <select id="findAll" resultMap="deptResultMap" >
        select * from dept
    </select>

    <select id="findDeptOrgResult" resultMap="deptOrgResultMap" >
        SELECT dept.id, dept.name, dept.location, org.organization_name FROM
         dept dept LEFT JOIN organization org ON dept.organization_id = org.id
    </select>

    <select id="findDeptByMultiString" resultMap="deptResultMap" >
        select * from dept where 1=1
        <!-- 用open ，separator =and name like 构建查询字符串, collection赋值要用传入的 -->
        <foreach item="item" index="index" collection="queryList" open=" and name like "
        separator=" and name like " close="">#{item}</foreach>
    </select>

    <update id="updateDeptHqName" parameterType="String">
        <selectKey order="AFTER" keyColumn="id" resultType="long">
        <!-- 用 selectKey 让 insert 和 update 返回操作结果，成功与否 -->
        </selectKey>
        UPDATE dept SET location=#{dept_name} where location like "%深_圳%"
    </update>

    <select id="selectUsers" resultType="map"> <!-- map 可以封装任意结果集？ -->
        select id, username, hashedPassword
        from some_table
        where id = #{id}
    </select>

</mapper>